1 {
    text-align: center;
    text-decoration: underline;
     width: 400px;
     background: #AEC6CF;
     margin :16px auto;
     padding:8px;
     border-left:5px solid #FFC5D3;
     
     
   
}

h2 {
    text-align: center;
    text-decoration: underline;
    width: 400px;
    background: #AEC6CF;
    margin: 16px auto;
    margin-bottom: 0;
    padding:8px;
    border-left:5px solid #FFC5D3;

       

}

.information_about_what_I_am_doing {

    text-align: center;
    width: 400px;
    background: #AEC6CF;
    margin:16px auto;
    padding:8px;
    border-left:5px solid #FFC5D3;

}


ul {
    list-style-type: none;

}

/* links below have to be in this order to work*/

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #555;
}
/* not yet clicked/
a:link {
    color: black;
}
link has been visited
a:visited {
    color: purple;
}

while hovering over focus = using tab/
a:hover, a:focus {
    color: green;
}

while cliking/
a:active {
    color: blue;
}
 end of links*/


/*buttons*/

.recipe_links {

    width: 200px;
    background: #AEC6CF;
    margin :16px auto;
    text-align: center;
    padding: 8px;
    border-left:5px solid #FFC5D3;

    }

button {

    margin: 3px;
}
    
/*Enchilada_Sauce
list-style(-image: url (..path for image for icon....)): cirlcle, none,  upper-roman, lower-roman, lower-alpha, upper-alpha*/

.Enchilada_Ing {
 list-style: circle;
 background: pink;
 width: 400px; 
}

 .Enchilada_Ing li {
 text-align: center;
 list-style-position: inside;
 border-width: 2px;
 background: rgb(124, 161, 209);
 text-align: left;
 width: 300px;
 border-width: 5px;
 border-color: #e4b5e8;
 border-style: solid;
 font-style: italic;

}
